<html>
<head>
	<title>category manager</title>
</head>
<body>

	<form action='dashboard/category_search' method='post'>
		<input type='text' name='category_search'>
	</form>


	<form action='dashboard/add_category' method='post'>
		<input type='btn' name='add_category' value='Add new category'>
	</form>


	<table style="width:100%">
		<thead style="background-color: light gray">
			<tr>
				<th>Picture</th>
				<th>ID</th>
				<th>Name</th>
				<th>Total Category Products</th>
				<th>Inventory Count</th>
				<th>Quantity Sold</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<?= foreach (categories as $category) { ?>
			<tr>
				<td><?= $images.category_id where type = thumb ?></a></td>
				<td><?= $id ?></td>
				<td><?= $title ?></td>
				<td><?= $category_count query that = total number of products in category based on products table with specific category_id ?></td>
				<td><?= $inventory_count query based on products table ?></td>
				<td><?= $quantity_sold query based on items table ?></td>
				<td>
					<a href="/dashboard/edit_category/<?= category_id ?>">edit</a> 
					<a href="/dashboard/delete_category/<?= category_id ?>">delete</a>			
				</td>
			</tr>
			<?= } ?>
		</tbody>
	</table>

	<ul>
		<?= foreach (categories as product) { ?>
		<li> $start? </li>

	</ul>

</body>
</html>