<html>
<head>
	<title>specific order show</title>
</head>
<body>
	<div>
		<p>Order ID: <?= $order_id ?></p>
		<br>
		<p>Customer shipping info:</p>
		<p>name: <?= $first_name.+' '+.$last_name ?></p>
		<p>address: <?= $street_address ?></p>
		<p>address2: <?= $street_address2 ?></p>
		<p>city: <?= $city ?></p>
		<p>state: <?= $state ?></p>
		<p>zip: <?= $zip ?></p>
		<br>
		<p>Customer billing info:</p>
		<p>name: <?= $first_name.+' '+.$last_name ?></p>
		<p>address: <?= $street_address ?></p>
		<p>address2: <?= $street_address2 ?></p>
		<p>city: <?= $city ?></p>
		<p>state: <?= $state ?></p>
		<p>zip: <?= $zip ?></p>
	</div>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<?= foreach (items as $item) { ?>
			<tr>
				<td><?= $item_id ?></td>
				<td><?= $product_id ?></td>
				<td><?= $price ?></td>
				<td><?= $qty ?></td>
				<td><?= $total ?></td>
			</tr>
		</tbody>
	</table>

	<div>
		<p>Status: <?= $status ?></p>
	</div>

	<div>
		<p>Sub total: $<?= $subtotal ?></p>
		<p>Shipping: $1.00</p>
		<p>Total Price: $<?= $subtotal + 1 ?></p>
	</div>

</body>
</html>