* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  background-color: gray;
  font-family: sans-serif;
}

.heading {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: pink;
  color: white;
}

    .heading h1 {
      padding: 10px 0px 10px 2%;
      display: inline-block;
    }

    .heading a {
      margin: 20px 2% 0px 0%;
      float:right;
      display: inline-block;
      text-decoration: none;
      color: white;
    }

#menu {
  width: 15%;
  position: fixed;
  top: 80px;
  bottom: 20px;
  left: 2%;
  border: 2px solid white;
  overflow-y: auto;
}

#products {
  width: 79%;
  margin: 80px 0% 0px 19%;
  min-height: 300px;
  border: 2px solid white;
}