* {
  margin: 0;
  padding: 0;
}

body {
  background-color: tomato;
  font-family: sans-serif;
}

div.top {
  margin-bottom: 20px;
}

    div.top a {
      margin: 0px 6% 0px 0%;
      display: block;
      text-align: right;
      text-decoration: none;
      color: whitesmoke;
    }

div.body-left {
  width: 28%;
  height: 280px;
  margin-left: 1.2%;
  margin-bottom: 20px;
  display: inline-block;
}
 
    div.body-left>img {
      width: 90%;
      height: 70%;
      margin: 0px auto;
      display: block;
    }


div.body-right {
  width: 68%;
  padding: 0px 1%;
  display: inline-block;
  vertical-align: top;
}
    div.body-right-thumb {
      width: 2%%;
    }

    div.body-right-thumb img{
      display: inline-block;
      vertical-align: top;
    }

    div.body-right p {
      width: 65%;
      margin: 2px 0%;
      color: whitesmoke;
    }


    div.body-right form {
      margin: 20px 0%;
      text-align: left;
    }

    div.body-right select {
      width: 30%;
      display: inline-block;
      border: 0;
      font-size: 1em;
    }

    div.body-right input[type="submit"] {
      padding: 2px 4%;
      display: inline-block;
      background-color: skyblue;
      border: none;
      border-radius: 3px;
      font-size: 1em;
      color: whitesmoke;
    }

div.similar {
  color: whitesmoke;
}

  div.similar-images {
    margin-top: 20px; 
  }
  
  div.similar-images div {
    width: 13%;
    height: 150px;
    margin: 10px 1%;
    display: inline-block;
    vertical-align: top;
  }
      div.similar-images div img {
        width: 100%;
        height: 90%;
      }

  div.similar-images a {
    text-decoration: none;
    color: whitesmoke;
  }

  div.similar-images p {
    background-color: red;
  }
  