* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  background-color: tomato;
  font-family: sans-serif;
}

.heading {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: red;
  color: white;
}

    .heading h1 {
      width: 26%;
      padding: 10px 0px 10px 2%;
      display: inline-block;
    }

    .heading a {
      text-decoration: none;
      color:whitesmoke;
    }

    .heading a.cart {
      margin: 20px 2% 0px 0%;
      float:right;
      display: inline-block;
      text-decoration: none;
      color: whitesmoke;
    }

footer {
  width: 100%;
  position: fixed;
  padding: 4px 2%;
  bottom: 0;
  background-color: red;
  text-align: center;
  color: whitesmoke;
}

#menu {
  width: 19%;
  position: fixed;
  top: 80px;
  bottom: 50px;
  left: 2%;
  overflow-y: auto;
}

    #menu h3 {
      margin: 0px 0%;
      border-top: 2px solid whitesmoke;
      border-bottom: 3px solid whitesmoke;
      color: whitesmoke;
    }

    #menu ul {
      list-style-type: none;
    }

    #menu li {
      margin: 2px;
    }

    #menu li a {
      text-decoration: none;
      color: whitesmoke;
    }

#products {
  width: 80%;
  min-height: 600px;
  margin: 80px 0% 30px 22%;
}

    